:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #333333;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* // label-title  竖线 */
.label-title {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5715;
    padding-left: 8px;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        width: 4px;
        height: 80%;
        background: var(--el-color-primary);
        position: absolute;
        left: 0;
        border-radius: 2px;
    }
}
// 弹框行内表单
.dialog-form-inline {
    .el-form-item {
        width: 100%;
        position: relative;
    }
}

// 表格
.main {
    .el-table {
        .el-button.is-text {
            padding: 0px;
        }
    }
}
